*{
    box-sizing: border-box;
}

.header-style{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #5d4954;
    font-family: 'Roboto', sans-serif;
    height: 110px;
}

.header-style h1{
    display: flex;
    flex: 1;
    color:white;
    font-size: 90px;
    padding-left: 145px;
}

.lien{
    display: flex;
    justify-content: space-around;
    flex: 1;
    font-size: 25px;
    align-self: center;
    height: 20px;
    
}
.lien a:link{
     color: rgb(231, 231, 231);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
font-size: 14px;
}
.lien a:hover{
    color: red;
}

.botn{
    background-color: rgb(255, 255, 11);
    border-radius: 20px;
    padding: 10px ;
    width: 150px;
    
    
}
.body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 800px;
    
}


.imagehaut{
    top: 3px;
    left: 20px;
    width: 2000px;
    height: 350px;
    
    background-repeat: no-repeat;
    background-position: left bottom;
    position: absolute;
}
