*{
    box-sizing: border-box;
}

.header-style{
    display: flex;
    background-color: #5d4954;
    height: 110px;
}

.header-style h1{
    display: flex;
    flex: 1;
    color:white;
    font-size: 90px;
    padding-left: 90px;
}

.lien{
    display: flex;
    justify-content: space-around;
    flex: 1;
    font-size: 25px;
    align-self: center;
    height: 20px;
    cursor: pointer;
}
.lien a:link{
    color: white;
}
.lien a:hover{
    color: red;
}

.botn{
    background-color: rgb(255, 255, 11);
    border-radius: 20px;
    padding: 10px ;
    width: 150px;
    
    
}
.body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 800px;
    
}

/* css pour JE DONNE*/

    input[type=text],select{
    width: 100%;
    padding: 12px;
    border: 1px solid white;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
}
    .container{
        color: bisque;
        border-radius: 5px;
        background-color: black;
        padding:20px;
        display: flex;
        font-family: 'Hammersmith One', sans-serif;
       
        
    }
body[class ="DONNER"]{
    
        background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
    }

